<mat-toolbar>
  <img width="130px" height="60px" src="/assets/logo.png"/>

  <span class="small-spacer"></span>
  <button mat-raised-button color="primary" (click)="registerOrg()">
    Work With Us
  </button>
  <span class="toolbar-spacer"></span>
  <button *ngIf="!user" mat-icon-button (click)="login()" >
    <span>Sign In</span>
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="user" mat-icon-button [matMenuTriggerFor]="belowMenu">
    <span>Hi, {{user.firstName || user.email}} </span>
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #belowMenu yPosition="below">
    <button mat-menu-item (click)="showProfile()"><mat-icon>account_box</mat-icon> Profile</button>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
  </mat-menu>
  <span class="small-spacer"></span>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="8"
    class="main">
    <div class="txt">
      <h1 class="promo">Providing</h1>
      <h1 class="promo">Medical Equipment</h1>
      <h1 class="promo">Since 1906</h1>
    </div>
    <img class="bg-image" src="/assets/world1.png"/>
    <img class="pic1" src="/assets/img1.png" />
    <div id="registerOrg"></div>
  </mat-grid-tile>

</mat-grid-list>
<router-outlet></router-outlet>
